.detail-nav img {
    height: 16px;
    width: 16px;
    padding: 0 10px;
}

.cart-nav {
    display: flex;
    justify-content: space-around;
}

.cart-nav .cart-nav-right ul li {
    display: inline-block;
    padding: 0 70px;
}

.cart-heading p {
    padding-left: 50px;
}

.cart-product-left {
    display: flex;
    align-items: center;

}

.cart-product-left .cart-product-img {
    height: 150px;
    width: 150px;
    padding: 0 30px;
}

.cart-product {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart-product-right ul li {
    display: inline-block;
    padding: 0 70px;
}

.cart-product-right ul {
    padding-right: 60px;
}

.cart-product-right ul li input {
    width: 40px;
    height: 30px;
}

.cart-product-btn {
    display: flex;
    justify-content: space-between;
    padding-left: 180px;
    padding-top: 50px;
    margin-right: 200px;
}

.cart-left-btn button {
    padding: 10px;
    background: black;
    color: white;
    cursor: pointer;
}

.cart-right-btn button {
    padding: 10px;
}


.cart-right-btn-first {
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
}

.cart-right-btn-sec {
    cursor: pointer;
    border: none;
}

.cart-heading {
    margin-bottom: 100px;
}