.cata-nav {
    margin-top: 100px;
    margin-left: 100px;
}

.cata-nav a {
    text-decoration: none;
    padding-right: 10px;
}


.cata-nav h2 {
    font-weight: 100;
}

.shop-nav-left {
    display: flex;
    align-items: center;
}

.shop-nav-left a {
    text-decoration: none;
    margin-left: 20px;
}
 
.cata-item-8 span {
    background-color: red;
}

@media (max-width:768px) {
    .shop-product-grid .menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4,1fr);
    }

    .shop-nav {
        display: flex;
        flex-direction: column;
    }

    .shop-nav .shop-nav-right {
        margin-top: 50px;
    }
}

@media (max-width:600px){
    .shop-product-grid .menu {
        padding: 0 20px;
    }

    .shop-nav {
        padding: 0 20px;
    }

    .cata-nav {
        margin: 50px;
    }
}

@media (max-width:426px){
    .cata-nav {
        margin: 30px 30px;
        padding: 0;
    }

    .shop-nav {
        margin: 0 30px;
        padding: 0;
    }

    .shop-dropdown button{
        font-size: 14px;
    }

    .shop-nav .shop-nav-right{
        margin-top: 0;
    }

    .menu {
        padding: 0;
        margin: 0;
    }

    .shop-product-grid .menu {
        padding: 0 20px;
    }

    .shop-product-grid .menu {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5,1fr);
    }
}

